@charset "utf-8";
* {margin:0; padding:0;border:0 none;box-sizing: border-box;}
address{padding:0;margin:0;}
button{outline:none;}
input{outline: none;background-color: transparent;}
label{font-weight:normal;margin:0;padding:0;}
html,body{height:100%;}
body{font-family:微软雅黑;line-height: normal;height:100%;}
mark{background-color: transparent;margin:0;padding:0;}
li{list-style-type:none;}
a {color:#000;text-decoration:none;outline:none;}
a:hover {color:#628828;text-decoration:none;cursor: pointer;}
textarea{overflow: hidden;resize:none;outline:none;}
.pointer {cursor:pointer;}
.NoBorder {border:0 none;}
.NoPadding {padding:0;}
/*字族设置*/
.fontFamily_wryh{font-family: "微软雅黑";}
.fontFamily_simhei{font-family: simhei;}
.fontFamily_songti{font-family: "宋体";}
.fontFamily_heiti{font-family: "黑体";}
.fontWei_b{font-weight: bold;}
/*字文字对齐*/
.textAlign_center{text-align: center;}
/*浮动*/
.float_l{float:left;}
.float_r{float:right;}
/*一行显示*/
.ibt{display: inline-block;vertical-align: top;}
.ibm{display: inline-block;vertical-align: middle;}